body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: #fff;
  font-family: Poppins, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 32px;
  color: #38bdf8;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.country-list {
  width: 30%;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  height: 80vh;
  overflow-y: scroll;
}

.country-list h2 {
  color: #38bdf8;
  margin-top: 0;
}

.country-list ul {
  list-style: none;
  padding: 0;
}

.country-list li {
  padding: 10px;
  background: #334155;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.country-list li:hover {
  background: #475569;
}

.time-box {
  flex: 1;
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.time-box h2 {
  color: #38bdf8;
  margin-bottom: 10px;
}

#timeDisplay {
  font-size: 36px;
  font-weight: bold;
}

#dateDisplay {
  font-size: 20px;
  margin-top: 10px;
  color: #cbd5e1;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .country-list {
    width: 100%;
    height: auto;
  }
}
