body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Poppins, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #38bdf8;
  font-size: 34px;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.sidebar {
  width: 30%;
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  height: 80vh;
  overflow-y: scroll;
}

.sidebar input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  background: rgba(255,255,255,0.15);
  color: white;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  background: rgba(255,255,255,0.10);
  cursor: pointer;
  transition: 0.25s;
}

.sidebar li:hover {
  background: rgba(255,255,255,0.20);
  transform: scale(1.03);
}

.time-box {
  flex: 1;
  padding: 30px;
  border-radius: 12px;
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(10px);
  text-align: center;
}

.time-box h2 {
  color: #38bdf8;
}

#timeDisplay {
  font-size: 40px;
  font-weight: bold;
}

#dateDisplay {
  font-size: 20px;
  margin-top: 10px;
  color: #e2e8f0;
}

footer {
  text-align: center;
  padding: 15px;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
  }
}

